<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center">Login Form</h5>
            </div>
            <div class="card-body">
               <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                   <div class="form-group">
                       <label>Email</label>
                       <input type="text" class="form-control" name="email" formControlName="email">
                   </div>
                   <div class="alert alert-danger" [hidden]="email.valid || email.untouched">
                      Some problem with email feild
                   </div>

                   <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" formControlName="password">
                   </div>
                   <div class="alert alert-danger" [hidden]="password.valid || password.untouched">
                        Some problem with password feild
                    </div>

                   <div class="form-group">
                       <div class="text-center">
                        <button type="submit" class="btn btn-success">LOGIN</button>
                       </div>
                   </div>

                   <div class="form-group">
                      <div class="row">
                          <div class="col-9">
                              <a href="">forgot password ?</a>
                          </div>
                          <div class="col-3">
                            <a href="">Sign Up</a>
                          </div>
                      </div>
                   </div>

               </form>
            </div>
        </div>
    </div>
</div>
